Repository soft-fx-official/uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

1.0.2
  public/@types/uikit/components/CustomPopperAutocomplete/index.d.ts
Due: none

fix webkit-autofill styles for input with icon
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203002289110933: Onboarding - Моб. версия - Изменить отображение ошибок
  src/components/MobileErrorTooltip/index.tsx
  src/components/index.ts
Due: prettier --write, eslint --fix

#1203002289110933: добавил wrap
  src/components/MobileErrorTooltip/index.tsx
Due: prettier --write, eslint --fix

1.0.2
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

#1203002289110933: Onboarding - Моб. версия - Изменить отображение ошибок
  src/components/MobileErrorTooltip/index.tsx
Due: prettier --write, eslint --fix

1.0.3
  public/w5mf-types.tar
  src/components/CustomAutocompleteCountries/index.tsx
  w5mf-types/uikit/dts/components/CustomAutocompleteCountries/index.d.ts
Due: prettier --write, eslint --fix

1.1.0
  public/w5mf-types.tar
  src/components/CustomSelect/index.tsx
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

1.1.1
  public/w5mf-types.tar
Due: none

1.1.2
  public/w5mf-types.tar
  w5mf-types/uikit/dts/components/index.d.ts
Due: none

fixed types of MobileErrorTooltip component
  public/w5mf-types.tar
  src/components/MobileErrorTooltip/index.tsx
  w5mf-types/uikit/dts/components/MobileErrorTooltip/index.d.ts
  w5mf-types/uikit/dts/components/index.d.ts
Due: prettier --write, eslint --fix

fixed corrupted archive
  public/w5mf-types.tar
Due: none

fixed MobileErrorTooltip property
  public/w5mf-types.tar
  src/components/MobileErrorTooltip/index.tsx
  w5mf-types/uikit/dts/components/MobileErrorTooltip/index.d.ts
Due: prettier --write, eslint --fix

fixed MobileErrorTooltip comp, added props
  public/w5mf-types.tar
  src/components/CustomAutocompleteCountries/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/MobileErrorTooltip/index.tsx
  w5mf-types/uikit/dts/components/CustomAutocompleteCountries/index.d.ts
  w5mf-types/uikit/dts/components/CustomTooltip/index.d.ts
  w5mf-types/uikit/dts/components/MobileErrorTooltip/index.d.ts
Due: prettier --write, eslint --fix

1.2.0
  config-overrides.js
  package-lock.json
  package.json
  public/w5mf-types.tar
Due: none

1.2.1
  public/w5mf-types.tar
Due: none

#1203399488519519: Onboarding - Правки по Error Тултипам. #1203002289110933: Onboarding - Моб. версия - Изменить отображение ошибок
  public/w5mf-types.tar
  src/components/CustomAutocompleteCountries/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/MobileErrorTooltip/index.tsx
  w5mf-types/uikit/dts/components/CustomAutocompleteCountries/index.d.ts
  w5mf-types/uikit/dts/components/CustomTooltip/index.d.ts
  w5mf-types/uikit/dts/components/MobileErrorTooltip/index.d.ts
Due: prettier --write, eslint --fix

replaced tick icon
  public/w5mf-types.tar
  src/icons/TickIcon/tick.svg
Due: none

fixed MobileErrorTooltip component
  public/w5mf-types.tar
  src/components/MobileErrorTooltip/index.tsx
Due: prettier --write, eslint --fix

fixed ButtonCard and ButtonCardContainer component
  public/w5mf-types.tar
  src/components/ButtonCard/index.tsx
  src/components/ButtonCardContainer/index.tsx
  w5mf-types/uikit/dts/components/ButtonCard/index.d.ts
  w5mf-types/uikit/dts/components/ButtonCardContainer/index.d.ts
Due: prettier --write, eslint --fix

fixed MobileErrorTooltip
  src/components/MobileErrorTooltip/index.tsx
Due: prettier --write, eslint --fix

fixed ThemeSwitch transition
  public/w5mf-types.tar
  src/components/ThemeSwitch/index.tsx
  w5mf-types/uikit/dts/components/ThemeSwitch/index.d.ts
Due: prettier --write, eslint --fix

1.2.0
  config-overrides.js
  package-lock.json
  package.json
  public/w5mf-types.tar
  src/components/ButtonCard/index.tsx
  src/components/ButtonCardContainer/index.tsx
  src/components/CustomAutocompleteCountries/index.module.css
  src/components/CustomAutocompleteCountries/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/MobileErrorTooltip/index.tsx
  src/components/ThemeSwitch/index.tsx
  src/components/index.ts
  src/icons/TickIcon/tick.svg
  src/themes/main.ts
  w5mf-types/uikit/dts/components/ButtonCard/index.d.ts
  w5mf-types/uikit/dts/components/ButtonCardContainer/index.d.ts
  w5mf-types/uikit/dts/components/CustomAutocompleteCountries/index.d.ts
  w5mf-types/uikit/dts/components/CustomTooltip/index.d.ts
  w5mf-types/uikit/dts/components/MobileErrorTooltip/index.d.ts
  w5mf-types/uikit/dts/components/ThemeSwitch/index.d.ts
  w5mf-types/uikit/dts/components/index.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

Update .gitignore
  .gitignore
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: ((any of: src/**/*.{css,scss}) or (any of: src/**/*.{jsx,ts,tsx})) or (any of: src/**/*.{json,md,yml,yaml})
  eslint --fix: any of: src/**/*.{jsx,ts,tsx}
