Repository soft-fx-official/uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md,yml,yaml}": "prettier --write"
}

0.3.8
  package-lock.json
  public/@types.json
  public/@types/uikit/components/ButtonLoader/index.d.ts
  public/@types/uikit/components/CustomTooltip/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  src/App/Content/Buttons/index.tsx
  src/components/ButtonCard/index.tsx
  src/components/ButtonLoader/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/ModuleLoader/index.tsx
  src/components/index.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.3.9
  package.json
  public/@types/uikit/components/ButtonCardContainer/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ButtonCardContainer/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.3.10
  .env.development
  .gitlab-ci.yml
  package.json
  public/index.html
Due: none

#1202838054856697: UIKit - Сделать мобильный Select + сделать универсальный компонент для выбора страны
  public/@types.json
  public/@types/uikit/components/CustomCountrySelect/index.d.ts
  public/@types/uikit/components/CustomSelect/index.d.ts
  public/@types/uikit/components/CustomSelectCountries/index.d.ts
  public/@types/uikit/components/SelectCountries/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/main/context.d.ts
  public/@types/uikit/main/events.d.ts
  public/@types/uikit/main/state.d.ts
  public/@types/uikit/services/api/index.d.ts
  public/@types/uikit/services/api/main.d.ts
  src/App/Content/Selectors/SelectExamples/index.tsx
  src/components/CustomSelect/index.module.css
  src/components/CustomSelect/index.tsx
  src/components/CustomSelectCountries/index.module.css
  src/components/CustomSelectCountries/index.tsx
  src/components/index.ts
Due: stylelint --fix, prettier --write, eslint --fix

small fix
  src/components/CustomSelect/index.tsx
Due: prettier --write, eslint --fix

0.3.11
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

#1202860536566703: UI - Onboarding - Сделать мобильный header прогресса
  public/@types.json
  public/@types/uikit/icons/LeftArrowMobilMode/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/icons/LeftArrowMobilMode/index.tsx
  src/icons/LeftArrowMobilMode/left-arrow.svg
  src/icons/index.ts
Due: prettier --write, eslint --fix

small fix
  public/@types/uikit/components/CustomSelect/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomSelect/index.module.css
  src/components/CustomSelect/index.tsx
  src/components/CustomSelectCountries/index.tsx
  src/components/index.ts
Due: stylelint --fix, prettier --write, eslint --fix

0.3.12
  public/@types.json
  public/@types/uikit/index.d.ts
Due: none

comments fix
  public/@types/uikit/components/CustomSelectCountries/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomSelect/index.module.css
  src/components/CustomSelectCountries/index.module.css
  src/components/CustomSelectCountries/index.tsx
Due: stylelint --fix, prettier --write, eslint --fix

0.3.13
  public/@types.json
  public/@types/uikit/index.d.ts
  src/components/CustomSelect/index.module.css
  src/components/CustomSelectCountries/index.module.css
Due: stylelint --fix, prettier --write

#1202922217369431: Общие: Поля ошибок, текст кнопок, тултипы ошибок, заголовки и подзаголовки
  package-lock.json
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202922217369431: Общие: Поля ошибок, текст кнопок, тултипы ошибок, заголовки и подзаголовки (after review)
  src/themes/main.ts
Due: prettier --write, eslint --fix

Revert "Merge branch '1202922217369431' into 'main.develop'"
  package-lock.json
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202922217369431: Общие: Поля ошибок, текст кнопок, тултипы ошибок, заголовки и подзаголовки(after test)
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.3.14
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  src/components/ButtonCard/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/ThemeSwitch/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.4
  src/config/configs/development.json
  src/config/configs/production.json
Due: prettier --write

0.4.1
  public/@types/uikit/components/CustomTooltip/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ButtonCard/index.tsx
  src/components/CustomSelect/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/ThemeSwitch/index.tsx
  src/components/Upload/index.tsx
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202947597462364: Отображение тултипов и модального окна с Ошибкам
  public/@types/uikit/components/CustomTooltip/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomTooltip/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202947597462364: Отображение тултипов и модального окна с Ошибкам(after review)
  public/@types/uikit/components/CustomTooltip/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomTooltip/index.tsx
Due: prettier --write, eslint --fix

#1202986542429063: обавление картинок с большим разрешением
  src/components/Upload/index.module.css
  src/components/Upload/index.tsx
Due: stylelint --fix, prettier --write, eslint --fix

#1202922217369433: Onboarding - Download - бновление функционала и дизайна
  public/@types.json
  public/@types/uikit/icons/MacIcon/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/Upload/index.module.css
  src/icons/MacIcon/ic-mac.svg
  src/icons/MacIcon/index.tsx
  src/icons/index.ts
Due: stylelint --fix, prettier --write, eslint --fix

#1202922217369433: Onboarding - Download - бновление функционала и дизайна
  public/@types.json
  public/@types/uikit/icons/MacIcon/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/icons/MacIcon/ic-mac.svg
  src/icons/MacIcon/index.tsx
  src/icons/index.ts
Due: prettier --write, eslint --fix

#1202986542429063: Добавление картинок с большим разрешением(after test)
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

0.4.2
  package-lock.json
  package.json
  public/@types.json
  public/@types/uikit/components/ButtonCard.1/index.d.ts
  public/@types/uikit/components/Failed/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ErrorBoundary/index.tsx
  src/components/Failed/index.module.css
  src/components/Failed/index.tsx
  src/components/ModuleLoader/index.tsx
  src/components/index.ts
  src/themes/main.ts
Due: stylelint --fix, prettier --write, eslint --fix

test
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

#1202980889458751 - light theme (wip)
  package-lock.json
  package.json
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  public/@types/uikit/themes/main.d.ts
  src/components/ButtonCard/index.tsx
  src/components/CustomTooltip/index.tsx
  src/icons/CancelModalIcon/cancelModalIcon.svg
  src/themes/colors.ts
  src/themes/index.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.4.4
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

#1202980889458751 - Light Theme Support v2
  package-lock.json
  public/@types.json
  public/@types/uikit/components/Upload/constants/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
  src/assets/ID_doc.svg
  src/assets/certificate.svg
  src/assets/error_ID.svg
  src/assets/error_certificate.svg
  src/assets/error_passport.svg
  src/assets/passport.svg
  src/components/ButtonCard/index.tsx
  src/components/Upload/constants/index.tsx
  src/components/Upload/index.tsx
  src/icons/MacIcon/ic-mac.svg
  src/themes/main.ts
Due: prettier --write, eslint --fix

add custom text color
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202980889458751 - Light Theme v2
  package-lock.json
  public/@types.json
  public/@types/uikit/components/Upload/constants/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
  src/assets/ID_doc.svg
  src/assets/certificate.svg
  src/assets/error_ID.svg
  src/assets/error_certificate.svg
  src/assets/error_passport.svg
  src/assets/passport.svg
  src/components/ButtonCard/index.tsx
  src/components/Upload/constants/index.tsx
  src/components/Upload/index.tsx
  src/icons/MacIcon/ic-mac.svg
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.4.5
  .env.development
  package-lock.json
  public/@types.json
  public/@types/uikit/components/Failed.1/index.d.ts
  public/@types/uikit/components/Loader/index.d.ts
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/icons/Logo/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/Loader/index.tsx
  src/components/ModuleLoader/index.tsx
  src/components/index.ts
  src/icons/Logo/index.tsx
  src/icons/Logo/logo.svg
  src/icons/index.ts
Due: prettier --write, eslint --fix

#1203045246093390: Центрирование блоков на странице
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
  src/components/ModuleLoader/index.tsx
Due: prettier --write, eslint --fix

0.5
  public/@types.json
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
Due: none

1203055390809942: add SX array type support for ButtonCard
  src/components/ButtonCard/index.tsx
Due: prettier --write, eslint --fix

1203055390809956: Tooltip - fix margin, customize props, fix empty title issue
  public/@types/uikit/components/CustomTooltip/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomTooltip/index.tsx
Due: prettier --write, eslint --fix
