Repository soft-fx-official/uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md,yml,yaml}": "prettier --write"
}

add ButtonCardContainer
  public/@types.json
  public/@types/uikit/components/ButtonCardContainer/index.d.ts
  public/@types/uikit/components/CardContainer/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ButtonCardContainer/index.tsx
  src/components/index.ts
Due: prettier --write, eslint --fix

0.1.2
  config-overrides.js
  package-lock.json
  package.json
Due: none

0.1.4
  .vscode/settings.json
  package.json
  public/@types.json
  public/@types/uikit/components/Icons/components/AndroidIcon/index.d.ts
  public/@types/uikit/components/Icons/components/ArchitectureIcon/index.d.ts
  public/@types/uikit/components/Icons/components/ArtIcon/index.d.ts
  public/@types/uikit/components/Icons/components/BankStatementIcon/index.d.ts
  public/@types/uikit/components/Icons/components/BusinessIcon/index.d.ts
  public/@types/uikit/components/Icons/components/CertificateGoodIcon/index.d.ts
  public/@types/uikit/components/Icons/components/CertificateIncorporationIcon/index.d.ts
  public/@types/uikit/components/Icons/components/ComputerServicesIcon/index.d.ts
  public/@types/uikit/components/Icons/components/CorporateAccountIcon/index.d.ts
  public/@types/uikit/components/Icons/components/DrivingLicenseIcon/index.d.ts
  public/@types/uikit/components/Icons/components/EmployedIcon/index.d.ts
  public/@types/uikit/components/Icons/components/ErrorIcon/index.d.ts
  public/@types/uikit/components/Icons/components/FinanceLawIcon/index.d.ts
  public/@types/uikit/components/Icons/components/HealthcareIcon/index.d.ts
  public/@types/uikit/components/Icons/components/HedgingIcon/index.d.ts
  public/@types/uikit/components/Icons/components/IOSIcon/index.d.ts
  public/@types/uikit/components/Icons/components/LockIcon/index.d.ts
  public/@types/uikit/components/Icons/components/MemorandumAssociationIcon/index.d.ts
  public/@types/uikit/components/Icons/components/NationalIdCardIcon/index.d.ts
  public/@types/uikit/components/Icons/components/PDFIcon/index.d.ts
  public/@types/uikit/components/Icons/components/PassportIcon/index.d.ts
  public/@types/uikit/components/Icons/components/PersonalAccountIcon/index.d.ts
  public/@types/uikit/components/Icons/components/PowerAttorneyIcon/index.d.ts
  public/@types/uikit/components/Icons/components/PrintIcon/index.d.ts
  public/@types/uikit/components/Icons/components/RetiredIcon/index.d.ts
  public/@types/uikit/components/Icons/components/SalesMarketingIcon/index.d.ts
  public/@types/uikit/components/Icons/components/ScienceIcon/index.d.ts
  public/@types/uikit/components/Icons/components/SpeculationIcon/index.d.ts
  public/@types/uikit/components/Icons/components/StandingIcon/index.d.ts
  public/@types/uikit/components/Icons/components/UnemployedIcon/index.d.ts
  public/@types/uikit/components/Icons/components/UtilityBillIcon/index.d.ts
  public/@types/uikit/components/Icons/components/WindowsIcon/index.d.ts
  public/@types/uikit/components/Icons/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

0.1.5
  package-lock.json
  package.json
Due: none

0.1.6
  .gitlab-ci.yml
  package-lock.json
  package.json
  public/@types.json
  public/@types/uikit/components/CardContainer/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

0.1.6.1
  .gitlab-ci.yml
Due: none

fix icons
  src/icons/CertificateGoodIcon/ic-certificate-good.svg
  src/icons/NationalIdCardIcon/ic-national-id-card.svg
  src/icons/PowerAttorneyIcon/ic-power-attorney.svg
  src/main/App/Content/Icons/index.tsx
Due: prettier --write, eslint --fix

update wmftypes
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

add MuiOutlinedInput overrides
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

Change build container
  Dockerfile
Due: none

check ssl
  Dockerfile
Due: none

debug wget
  Dockerfile
Due: none

check
  Dockerfile
Due: none

fix ci
  .gitlab-ci.yml
  Dockerfile
Due: none

Fix CI
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

check
  .gitlab-ci.yml
Due: none

cat @types.json
  .gitlab-ci.yml
Due: none

clean up test
  .gitlab-ci.yml
Due: none

w5mf-types 0.2.1-alpha.1
  .env.production
  package.json
Due: none

revert "w5mf-types": "^0.2.x",
  Dockerfile
  package.json
Due: none

revert Dockerfile with NODE_EXTRA_CA_CERTS
  Dockerfile
Due: none

Change base container
  .gitlab-ci.yml
  Dockerfile
Due: none

Check content
  .gitlab-ci.yml
Due: none

add include
  .gitlab-ci.yml
Due: none

remove obsolete
  .gitlab-ci.yml
Due: none

#1202658603521889
  public/@types.json
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  public/@types/uikit/themes/main.d.ts
  src/components/ButtonCard/index.tsx
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

1202666376721487: add new icon
  public/@types.json
  public/@types/uikit/icons/CancelModalIcon/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/icons/CancelModalIcon/cancelModalIcon.svg
  src/icons/CancelModalIcon/index.tsx
  src/icons/index.ts
  src/main/App/Content/Icons/index.tsx
Due: prettier --write, eslint --fix

1202696902021295: UIKit - Update "Download" component
  package-lock.json
  package.json
  public/@types.json
  public/@types/uikit/components/Icons/components/AddPlusIcon/index.d.ts
  public/@types/uikit/components/Icons/index.d.ts
  public/@types/uikit/components/Upload/index.d.ts
  public/@types/uikit/icons/AddPlusIcon/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/assets/ID_doc.svg
  src/assets/certificate.svg
  src/assets/error_ID.svg
  src/assets/error_passport.svg
  src/assets/error_sertificate.svg
  src/assets/pasport_illustration.svg
  src/assets/passport.svg
  src/assets/sertificate.svg
  src/components/Icons/components/AddPlusIcon/index.tsx
  src/components/Icons/components/AddPlusIcon/whitePlusForUpload.svg
  src/components/Icons/index.ts
  src/components/Upload/index.tsx
  src/icons/AddPlusIcon/index.tsx
  src/icons/AddPlusIcon/whitePlusForUpload.svg
  src/icons/index.ts
  src/main/App/Content/Icons/index.tsx
Due: prettier --write, eslint --fix

#1202696902021295 add error message + code review fixes
  public/@types.json
  public/@types/uikit/components/Upload/index.d.ts
  public/@types/uikit/index.d.ts
  src/assets/certificate.svg
  src/assets/error_ID.svg
  src/assets/error_certificate.svg
  src/assets/id.svg
  src/assets/passport.svg
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

#1202666376721487: fix cancel modal icon
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/icons/CancelModalIcon/cancelModalIcon.svg
  src/icons/index.ts
Due: prettier --write, eslint --fix

new configuration
  public/@types/uikit/index.d.ts
Due: none

Fixed types: Upload component
  public/@types.json
  public/@types/uikit/components/Upload/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

add custom tooltip
  public/@types.json
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomTooltip/index.tsx
  src/components/index.ts
Due: prettier --write, eslint --fix

0.3.2
  public/@types/uikit/components/Icons/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ErrorBoundary/index.module.css
  src/components/ErrorBoundary/index.tsx
  src/components/Icons/index.ts
  src/components/ModuleLoader/index.module.css
  src/components/ModuleLoader/index.tsx
Due: stylelint --fix, prettier --write, eslint --fix

0.3.7
  package.json
  src/config/configs/production.json
  src/services/api/main.ts
Due: prettier --write, eslint --fix
