Repository soft-fx-official/uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

#1202980889458751 - Light Theme fixes
  public/@types.json
  public/@types/uikit/icons/FileCrossIcon/index.d.ts
  public/@types/uikit/icons/TickIcon/index.d.ts
  public/@types/uikit/icons/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  public/@types/uikit/themes/main.d.ts
  src/App/Content/Icons/index.tsx
  src/icons/FileCrossIcon/file-cross.svg
  src/icons/FileCrossIcon/index.tsx
  src/icons/TickIcon/index.tsx
  src/icons/TickIcon/tick.svg
  src/icons/index.ts
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202980889458751 - Light Theme - Fix Upload Form text color
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/main.d.ts
  src/components/Upload/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.6.1
  .env.development
  .env.production
  README.md
  package-lock.json
  package.json
  public/@types.json
  public/@types/uikit/components/ErrorBoundary/index.d.ts
  public/@types/uikit/components/Failed.1/index.d.ts
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ErrorBoundary/index.tsx
  src/components/Loader/index.tsx
  src/components/ModuleLoader/index.tsx
Due: prettier --write, eslint --fix

0.6.2
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
Due: none

#1203093245499288 - Custom Tooltip change root Boundary
  package-lock.json
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/CustomTooltip/index.tsx
Due: prettier --write, eslint --fix

#1203093245499365 - При загрузке опросника со второй страницы появляется лоадер и не пропадает - Add React.memo to prevent onDone firing before onLoad
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/index.d.ts
  src/components/ModuleLoader/index.tsx
Due: prettier --write, eslint --fix

#1203093245499288 - Custom Tooltip change root Boundary
  package-lock.json
  src/components/CustomTooltip/index.tsx
Due: prettier --write, eslint --fix

#1203093245499397 remove useMemo due loadDynamicComponent issues with window scope
  src/components/ModuleLoader/index.tsx
Due: prettier --write, eslint --fix

#1203093245499328: перенос autocomplete в uikit
  src/components/CustomAutocompleteCountries/index.module.css
  src/components/CustomAutocompleteCountries/index.tsx
  src/components/CustomTooltip/index.tsx
  src/components/index.ts
  src/themes/main.ts
Due: stylelint --fix, prettier --write, eslint --fix

#1203093245499373: Добавил анимацию для автокомплита
  src/components/CustomPopperAutocomplete/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203131953355019: кастомный скроллбар
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203131953355019: добавил комменты
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203093245499469: поправил стили автокомплита
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203093245499469: убрал лишние стили
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203134242993469: добавил стили ButtonGroup
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1202972982427629: поменял фон автозаполнения на дефолтный
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203093245499469: поправил стили лейбла автокомплита
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203131953355019: Onboarding - Select - Добавить кастомный скролл
  src/themes/colors.ts
Due: prettier --write, eslint --fix

#1203134242993469: Onboarding - трейдинг - отсутствует зеленый фон выбранной иконки
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203131953355019: добавил кастомный скроллбар для firefox и webkit браузеров
  src/themes/colors.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203131953355019: поменял цвета
  src/themes/main.ts
Due: prettier --write, eslint --fix

#1203093245499373: Onboarding - Address - Нет анимации появления селекта выбора города
  src/components/CustomPopperAutocomplete/index.tsx
Due: prettier --write, eslint --fix

#1203098593499641: Onboarding - невалидный текст ошибки
  src/components/CustomTooltip/index.tsx
Due: prettier --write, eslint --fix

fix webkit-autofill styles for input with icon
  public/@types.json
  public/@types/uikit/components/CustomPopperAutocomplete/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  src/themes/main.ts
Due: prettier --write, eslint --fix

fix
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.8.0
  .env
  .gitlab-ci.yml
  Dockerfile
  bin/configuration.js
  config-overrides.js
  docs/index.md
  mkdocs.yml
  package-lock.json
  package.json
  public/index.html
  src/bootstrap.tsx
  src/config/configs/alpha.js
  src/config/configs/beta.js
  src/config/configs/main.js
  src/config/configs/main.local.js
  src/config/configs/release.js
  src/config/configuration.js
  src/config/index.js
Due: prettier --write, eslint --fix

#1203174978391324: Onboarding - Доработка Autocomplete
  src/components/CustomAutocompleteCountries/index.module.css
  src/components/CustomAutocompleteCountries/index.tsx
Due: stylelint --fix, prettier --write, eslint --fix

#1203174978391324: Onboarding - Доработка Autocomplete
  src/components/CustomTooltip/index.tsx
  src/themes/main.ts
Due: prettier --write, eslint --fix

0.8.1
  .env
  .gitlab-ci.yml
  README.md
  bin/configuration.js
  config-overrides.js
  package.json
  public/@types.json
  public/@types/uikit/components/CustomPopperAutocomplete/index.d.ts
  public/@types/uikit/components/ErrorBoundary/index.d.ts
  public/@types/uikit/components/ModuleLoader/index.d.ts
  public/@types/uikit/components/index.d.ts
  public/@types/uikit/index.d.ts
  public/@types/uikit/themes/colors.d.ts
  public/index.html
  src/App/Content/Selectors/SelectExamples/index.tsx
  src/App/Header/index.tsx
  src/App/index.module.css
  src/App/index.tsx
  src/App/init.ts
  src/App/state.ts
  src/bootstrap.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/ModuleLoader/index.tsx
  src/components/index.ts
  src/config.js
  src/config/configs/main.js
  src/config/configs/main.local.js
  src/config/configuration.js
  src/config/index.js
  src/main/Error/index.module.css
  src/main/Error/index.tsx
  src/main/Loader/index.module.css
  src/main/Loader/index.tsx
  src/main/Page/index.tsx
  src/main/context.ts
  src/main/index.tsx
  src/services/api/index.ts
  src/services/api/main.ts
  src/translation/en.json
  tsconfig.json
Due: stylelint --fix, prettier --write, eslint --fix

0.8.3
  .lintstagedrc
  package.json
Due: none

#1203055541981689: Onboarding - Documents - нтервал между пунктирной рамкой и текстом не валидный
  package-lock.json
  package.json
  src/components/Upload/index.tsx
Due: prettier --write, eslint --fix

1.0.0
  .env.development
  README.md
  package-lock.json
  package.json
  public/w5mf-types.tar
Due: none

1.0.1
  public/w5mf-types.tar
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: ((any of: src/**/*.{css,scss}) or (any of: src/**/*.{js,jsx,ts,tsx})) or (any of: src/**/*.{json,md,yml,yaml})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
